<div class="text-contents">
  <div class="container">
    <div class="text_box">
      <div class="box" id="input-text">

        私は<%= @title %>を読みました。<br>
        この本を選んだ理由は、<%= @reason %>です。<br>
        この本は<%= @story %>です。<br>
        私は<%= @moving %>で心動かされました。<br>
        なぜなら、<%= @why %>です。<br>
        そのことから<%= @learn %>を学びました。<br>
        この読書をきっかけに今後は<%= @action%>です。<br>

      </div>
    </div>
    <div class="buttom-btn">
      <div class="back btn">
        <a href="/create">
          <div class="start-btn">
            戻る
          </div>
        </a>
      </div>
      <div class="download btn">
        <a href=#>
          <div class="start-btn">
            ダウンロード
          </div>
        </a>
      </div>
      <div class="twitter btn">
        <a href=#>
          <div class="start-btn">
            Twitter
          </div>
        </a>
      </div>
    </div>

  </div>

</div>
